
  <form action="/create" method="post">
    
    <input type="text" name="title" placeholder="Title"><br>
    
    <TEXTAREA name="content" rows=3 cols=30 placeholder="Content"></TEXTAREA><br>
  	<input class="btn btn-primary" type="submit" value="Make History">
  
  </form>
